In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

In [21]:
filepath = '/Users/rahulchangrani/Downloads/titanic.csv'
titanic = pd.read_csv(filepath)

In [22]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
sys.path.append('/Users/rahulchangrani/Titanic')

In [10]:
sys.path

['/Users/rahulchangrani',
 '/Users/rahulchangrani/anaconda3/lib/python37.zip',
 '/Users/rahulchangrani/anaconda3/lib/python3.7',
 '/Users/rahulchangrani/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/rahulchangrani/anaconda3/lib/python3.7/site-packages',
 '/Users/rahulchangrani/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/rahulchangrani/django',
 '/Users/rahulchangrani/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/rahulchangrani/.ipython',
 '/Users/rahulchangrani/Titanic']

In [11]:
from General_Function import basic_explo

In [12]:
basic_explo(titanic)

rows:891,column:12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
Descriptive stats for numeric columns
<bound method NDFrame.describe of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]>
Descreptive stats for catogrial columns
                               Name   Sex  Ticket Cabin Embarked
count                           891   891     891   204      889
unique                          891     2     681   147        3
top     Abbott, Mr. Rossmore Edward  male  347082    G6        S
freq                              1   577       7     4      644
          count
Age         177
Cabin       687
Embarked      2
     PassengerId  Survived  Pclass   Age  SibSp  Parch      Fare
0              1         0       3  22.0      1      0    7.2500
1              2         1       1  38.0      1      0   71.2833
2              3         1       3  26.0      0      0    7.9250
3              4         1       1  35.0      1      0   53.1000
4              5         0       3  35.0      0      0    8.0500
5              6         0       3   NaN      0      0    8.4583
6              7         0       1  54.0      0      0   51.8625
7              8         0       3   2.0      3      1   21.0750
8              9         1       3  27.0      0      2   11.1333
9             10         1       2  14.0      1      0   30.0708
10            11         1       3   4.0      1      1   16.7000
11            12         1       1  58.0      0      0   26.5500
12            13         0       3  20.0      0      0    8.0500
13            14         0       3  39.0      1      5   31.2750
14            15         0       3  14.0      0      0    7.8542
15            16         1       2  55.0      0      0   16.0000
16            17         0       3   2.0      4      1   29.1250
17            18         1       2   NaN      0      0   13.0000
18            19         0       3  31.0      1      0   18.0000
19            20         1       3   NaN      0      0    7.2250
20            21         0       2  35.0      0      0   26.0000
21            22         1       2  34.0      0      0   13.0000
22            23         1       3  15.0      0      0    8.0292
23            24         1       1  28.0      0      0   35.5000
24            25         0       3   8.0      3      1   21.0750
25            26         1       3  38.0      1      5   31.3875
26            27         0       3   NaN      0      0    7.2250
27            28         0       1  19.0      3      2  263.0000
28            29         1       3   NaN      0      0    7.8792
29            30         0       3   NaN      0      0    7.8958
..           ...       ...     ...   ...    ...    ...       ...
861          862         0       2  21.0      1      0   11.5000
862          863         1       1  48.0      0      0   25.9292
863          864         0       3   NaN      8      2   69.5500
864          865         0       2  24.0      0      0   13.0000
865          866         1       2  42.0      0      0   13.0000
866          867         1       2  27.0      1      0   13.8583
867          868         0       1  31.0      0      0   50.4958
868          869         0       3   NaN      0      0    9.5000
869          870         1       3   4.0      1      1   11.1333
870          871         0       3  26.0      0      0    7.8958
871          872         1       1  47.0      1      1   52.5542
872          873         0       1  33.0      0      0    5.0000
873          874         0       3  47.0      0      0    9.0000
874          875         1       2  28.0      1      0   24.0000
875          876         1       3  15.0      0      0    7.2250
876          877         0       3  20.0      0      0    9.8458
877          878         0       3  19.0      0      0    7.8958
878          879         0       3   NaN      0      0    7.8958
879          880         1       1  56.0      0      1   83.1583
880          881         1       2  25.0      0      1   26.0000
881          882         0       3  33.0      0      0    7.8958
882          883         0       3  22.0      0      0   10.5167
883          884         0       2  28.0      0      0   10.5000
884          885         0       3  25.0      0      0    7.0500
885          886         0       3  39.0      0      5   29.1250
886          887         0       2  27.0      0      0   13.0000
887          888         1       1  19.0      0      0   30.0000
888          889         0       3   NaN      1      2   23.4500
889          890         1       1  26.0      0      0   30.0000
890          891         0       3  32.0      0      0    7.7500

[891 rows x 7 columns]
PassengerId
[]
Survived
[]
Pclass
[]
Age
[66.0, 65.0, 71.0, 70.5, 65.0, 65.0, 71.0, 80.0, 70.0, 70.0, 74.0]
SibSp
[3, 4, 3, 3, 4, 5, 3, 4, 5, 3, 3, 4, 8, 4, 4, 3, 8, 4, 8, 3, 4, 4, 4, 4, 8, 3, 3, 5, 3, 5, 3, 4, 4, 3, 3, 5, 4, 3, 4, 8, 4, 3, 4, 8, 4, 8]
Parch
[1, 2, 1, 5, 1, 1, 5, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 3, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 1, 1, 2, 1, 4, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 4, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 3, 4, 1, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 4, 1, 1, 2, 1, 2, 1, 1, 2, 5, 2, 1, 1, 1, 2, 1, 5, 2, 1, 1, 1, 2, 1, 6, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 2, 1, 2, 3, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 5, 2]
Fare
[71.2833, 263.0, 146.5208, 82.1708, 76.7292, 80.0, 83.475, 73.5, 263.0, 77.2875, 247.5208, 73.5, 77.2875, 79.2, 66.6, 69.55, 69.55, 146.5208, 69.55, 113.275, 76.2917, 90.0, 83.475, 90.0, 79.2, 86.5, 512.3292, 79.65, 153.4625, 135.6333, 77.9583, 78.85, 91.0792, 151.55, 247.5208, 151.55, 110.8833, 108.9, 83.1583, 262.375, 164.8667, 134.5, 69.55, 135.6333, 153.4625, 133.65, 66.6, 134.5, 263.0, 75.25, 69.3, 135.6333, 82.1708, 211.5, 227.525, 73.5, 120.0, 113.275, 90.0, 120.0, 263.0, 81.8583, 89.1042, 91.0792, 90.0, 78.2667, 151.55, 86.5, 108.9, 93.5, 221.7792, 106.425, 71.0, 106.425, 110.8833, 227.525, 79.65, 110.8833, 79.65, 79.2, 78.2667, 153.4625, 77.9583, 69.3, 76.7292, 73.5, 113.275, 133.65, 73.5, 512.3292, 76.7292, 211.3375, 110.8833, 227.525, 151.55, 227.525, 211.3375, 512.3292, 78.85, 262.375, 71.0, 86.5, 120.0, 77.9583, 211.3375, 79.2, 69.55, 120.0, 93.5, 80.0, 83.1583, 69.55, 89.1042, 164.8667, 69.55, 83.1583]

In [23]:
titanic['Cabin'] = titanic['Cabin'].fillna('no_cabin')

In [24]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean())

In [25]:
titanic['Embarked'] = titanic['Embarked'].fillna('Unknown')

In [26]:
titanic.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [30]:
# x - features
x = titanic.drop('Survived',axis=1)

In [31]:
# y - target variable
y = titanic['Survived']

In [ ]:
x.drop(['PassengerId','Name'],axis=1,inplace=True)

In [40]:
x.drop(['Ticket'],axis=1,inplace=True)

In [45]:
x['Cabin'].value_counts()

no_cabin       687
G6               4
C23 C25 C27      4
B96 B98          4
F33              3
F2               3
C22 C26          3
D                3
E101             3
B77              2
D20              2
F4               2
C52              2
C2               2
B22              2
E24              2
B5               2
C124             2
C78              2
B49              2
B58 B60          2
C93              2
E33              2
D35              2
D17              2
F G73            2
C126             2
E44              2
E25              2
E8               2
              ...
E40              1
E31              1
C47              1
B30              1
C104             1
A23              1
B71              1
A24              1
C87              1
E38              1
D10 D12          1
C106             1
A19              1
A5               1
E49              1
B19              1
B79              1
E12              1
C62 C64          1
B38              1
C50              1
B37              1
D56              1
B86              1
E68              1
A36              1
D21              1
E77              1
D6               1
D7               1
Name: Cabin, Length: 148, dtype: int64

In [46]:
x['cabin_start'] = x['Cabin'].map(lambda x: x[0] if x != 'no_cabin' else x)

In [50]:
x['cabin_start'].nunique()

9

In [51]:
x.drop(['Cabin'],axis=1,inplace=True)

In [53]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked cabin_start
0       3    male  22.0      1      0   7.2500        S    no_cabin
1       1  female  38.0      1      0  71.2833        C           C
2       3  female  26.0      0      0   7.9250        S    no_cabin
3       1  female  35.0      1      0  53.1000        S           C
4       3    male  35.0      0      0   8.0500        S    no_cabin

In [55]:
x = pd.get_dummies(x, columns=['cabin_start','Embarked','Sex'],drop_first=True)

In [56]:
x.head()

,Pclass,Age,SibSp,Parch,Fare,cabin_start_B,cabin_start_C,cabin_start_D,cabin_start_E,cabin_start_F,cabin_start_G,cabin_start_T,cabin_start_no_cabin,Embarked_Q,Embarked_S,Embarked_Unknown,Sex_male
0,3,22.0,1,0,7.2500,0,0,0,0,0,0,0,1,0,1,0,1
1,1,38.0,1,0,71.2833,0,1,0,0,0,0,0,0,0,0,0,0
2,3,26.0,0,0,7.9250,0,0,0,0,0,0,0,1,0,1,0,0
3,1,35.0,1,0,53.1000,0,1,0,0,0,0,0,0,0,1,0,0
4,3,35.0,0,0,8.0500,0,0,0,0,0,0,0,1,0,1,0,1

In [60]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
Pclass                  891 non-null int64
Age                     891 non-null float64
SibSp                   891 non-null int64
Parch                   891 non-null int64
Fare                    891 non-null float64
cabin_start_B           891 non-null uint8
cabin_start_C           891 non-null uint8
cabin_start_D           891 non-null uint8
cabin_start_E           891 non-null uint8
cabin_start_F           891 non-null uint8
cabin_start_G           891 non-null uint8
cabin_start_T           891 non-null uint8
cabin_start_no_cabin    891 non-null uint8
Embarked_Q              891 non-null uint8
Embarked_S              891 non-null uint8
Embarked_Unknown        891 non-null uint8
Sex_male                891 non-null uint8
dtypes: float64(2), int64(3), uint8(12)
memory usage: 45.3 KB

In [62]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

In [129]:
# output of train_test_split() is list of 4 dataframes i.e. x_train,x_test,y_train,y_test in the same sequence 
# train_size = 0.7 i.e. 70% of the data will be considered for training and remaining 30% of the data will be for testing
# random_state = 7 i.e. same random rows will be considered all the time
# x_train - 70% of data feature
# y_train - 70% of survival feature
# x_test - remaining 30% of feature data which will be tested
# y_test - remaining 30% of suvival data which will be compared against the prediction by our ML model
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state=7)

In [130]:
x_train.shape

(623, 17)

In [131]:
x_test.shape

(268, 17)

In [132]:
# Machine Learning
rf = RandomForestClassifier()

In [133]:
rf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [134]:
# fit() it will learn the dataframe passed mostly it is the training dataset i.e. 70% of feature & survival data
rf.fit(x_train,y_train)

/Users/rahulchangrani/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [135]:
# predict() will test the testing data i.e. 30% of the feature data X and will will predict the survival rate
y_pred = rf.predict(x_test)

In [136]:
y_pred.shape

(268,)

In [137]:
y_test.shape

(268,)

In [138]:
# classification_report() will compare the predicted test & y_test i.e. 30% of the survival rate in the dataset
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.87      0.81       156
           1       0.77      0.62      0.68       112

    accuracy                           0.76       268
   macro avg       0.76      0.74      0.75       268
weighted avg       0.76      0.76      0.76       268

In [139]:
# accuracy_score() will tell the prediction of the ML model
print(accuracy_score(y_test,y_pred))

0.7611940298507462